@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #f7f8fc;
}
.navbarHeading{
  font-family:'Montserrat', sans-serif !important;
}
.main{
  width: 1000px;
  margin: 0 auto;
}
.upper{
  display: flex;  
  /* border: 2px solid red; */
}
.inputLanguage{
  flex: 1;
  /* border: 2px solid red;  */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outputLanguage{
  flex: 1;

}


.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputText{
  flex: 1;
  height: 35vh;
  background-color: #ffffff;
  border-radius: 20px;
  /* box-shadow: 1px 1px 1px 1px lightgrey; */
}
.outputText{
  flex: 1;
  height: 35vh;
  background-color: #f3f4f9;
  border-radius: 20px;
}

.inputTextArea{
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  resize:none;
  border-radius: 0px 0px 20px 20px;
  /* border: 1px solid red; */
}
.outputTextArea{
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  resize:none;
  border-radius:  0px 0px 20px 20px;
  background-color: #f3f4f9;
}

.arrow{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}